body {
   background-image: url(./images/background3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height:100vh;
}

.calculator{
    border:2px solid rgba(255, 255, 255, 0.922);
    background: rgba(255, 255, 255, 0.922);
    width:30%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:50vh;
    /* border-radius: 10px; */
    padding:2%;
}

.title h3{
    /* color:#e8da76; */
    color:#ded16e;
    font-family: 'Boogaloo', cursive;
    text-align: center;
}

.btn-primary{
    margin-top: 22px;
}

.total{
    margin-top: 22px;
}

.tip-section input{
    display: block;
    margin: auto;
}

label{
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
}

h4{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
}